<h1>Stocks</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
    <th>Company</th>
      <th>Ticker</th>
      <th>Current Price</th>
      <th>Market Cap</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <% if stock.user_id == current_user.id %>

        <% begin %>
          <% @ticker = StockQuote::Stock.quote(stock.ticker) %>
        <% rescue StandardError %>
          <% @ticker = nil %>
        <% end %>

        <tr>
        <% if @ticker.nil? %>
          <td> N/A </td>
          <td> <%= stock.ticker %> </td>
          <td> N/A </td>
          <td> N/A </td>
        <% else %>
          <td><%= link_to @ticker.company_name, stock%></td>
          <td><%= @ticker.symbol%></td>
          <td>$<%= number_with_precision(@ticker.latest_price, :precision => 2, :delimiter => ',')%></td>
          <td>$<%= number_with_precision(@ticker.market_cap, :precision => 2, :delimiter => ',')%></td>
        <% end %>
          <td><center><%= link_to '編集', edit_stock_path(stock) %></center></td>
          <td><center><%= link_to '削除', "/stocks/#{stock.id}", method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path %>
